<div class="text-layout">
  <h1> Decimal pipe y porcentaje</h1>
  <p>
    Pipes incluidos en angular - Usualmente en common módulo.
  </p>
</div>

<div class="grid">

  <div class="col-4">
    <p-card header="Ventas netas" subheader="del presente año">
      <i class="pi pi-dollar"></i>
      {{(ventasNetas + 10000) | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas brutas" subheader="del presente año">
      {{(ventasNetas + 2000000) | currency }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ganancias porcentual" subheader="del presente año">
      {{porcentaje | percent:'2.2-2' }}
    </p-card>
  </div>

</div>
